.App {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.Board {
  flex: 1;
  display: flex;
  /* background: lightgray; */
}

.Board .Players {
  /* background: lightgray; */
  display: flex;
  flex-wrap: wrap;
}

.Scores {
  padding: 0.5em;
}

.ScoreItem {
  white-space: nowrap;
}

.Row {
  /*
  display: flex;
  justify-content: center;
  */
  margin: 4em;
}

.Card {
  text-align: center;
  border: 1px solid black;
  width: 150px;
  height: 100px;
  background: #fff;
  opacity: 0.3;
  margin: 1em;
  padding: 0.5em;
}
.Card.active {
  border: 5px solid black;
  opacity: 1;
}
.Card.opponent {
  opacity: 1;
}
.Card.flipped {
  background: #000;
}

.PlayerCard {
  box-shadow: 0px 0px 17px 7px white;
}
.PlayerCard .Name {
  text-align: center;
}

.Key {
  display: flex;
  justify-content: center;
}

.KeyItem {
  margin-right: 0.5em;
  padding: 0.3em;
}

.Value {
  display: inline-block;
  border: 1px solid #000;
  width: 3em;
  height: 3em;
  line-height: 3em;
}

.Die {
  background: #fff;
  width: 2em;
  height: 2em;
  border: 2px solid black;
  text-align: center;
  line-height: 2em;
}

.Hint .active {
  font-weight: bold;
}
