.App {
  display: flex;
  flex-direction: column;
}

.Board {
  flex: 1;
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.Row {
  /*
  display: flex;
  justify-content: center;
  */
  margin: 4em;
}

.Card {
  text-align: center;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  background: #fff;
}
.Card.active {
  border: 5px solid black;
}

.Key {
  display: flex;
  justify-content: center;
}

.KeyItem {
  margin-right: 0.5em;
}

.Value {
  display: inline-block;
  border: 1px solid #000;
  width: 3em;
  height: 3em;
  line-height: 3em;
}

.Die {
  background: #fff;
  width: 2em;
  height: 2em;
  border: 2px solid black;
}

.Hint .active {
  font-weight: bold;
}
